/**/
/* fonts */
/**/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');


/**/
/* reset */
/**/
html, body, iframe, header, footer, main, aside, nav, section, article, div,
p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, hr, blockquote, pre, figure, figcaption,
a, address, del, em, i, img, strong, sub, sup, table, thead, tbody, tfoot, tr, th, td,
form, fieldset, legend, label, input, select, textarea, button {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	font-size: 100%;
	font: inherit;
}
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockqoute, pre, figure, figcaption,
form, fieldset, legend, label, input, select, textarea, button {
	display: block;
}
html, body {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
dl, dt, dd, ul, ol, li {
	list-style: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}


/**/
/* defaults */
/**/
html, body {
	background: #fff;
	font: 400 16px/1 Roboto, 'Roboto Condensed', Helvetica, Arial, sans-serif;
	color: rgba(0,0,0,0.54);
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}


/**/
/* grid */
/**/
.grid {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 22px;
}
.grid-row {
	margin: 0 -1rem;
	font-size: 0;
}
.grid-col {
	display: inline-block;
	vertical-align: top;
	padding: 0 1rem;
	box-sizing: border-box;
	font-size: 1rem;
}
.grid-col_1 {
	width: 4.166%;
}
.grid-col_2 {
	width: 8.333%;
}
.grid-col_3 {
	width: 12.5%;
}
.grid-col_4 {
	width: 16.666%;
}
.grid-col_5 {
	width: 20.833%;
}
.grid-col_6 {
	width: 25%;
}
.grid-col_7 {
	width: 29.166%;
}
.grid-col_8 {
	width: 33.333%;
}
.grid-col_9 {
	width: 37.5%;
}
.grid-col_10 {
	width: 41.666%;
}
.grid-col_11 {
	width: 45.833%;
}
.grid-col_12 {
	width: 50%;
}
.grid-col_13 {
	width: 54.166%;
}
.grid-col_14 {
	width: 58.333%;
}
.grid-col_15 {
	width: 62.5%;
}
.grid-col_16 {
	width: 66.666%;
}
.grid-col_17 {
	width: 70.833%;
}
.grid-col_18 {
	width: 75%;
}
.grid-col_19 {
	width: 79.166%;
}
.grid-col_20 {
	width: 83.333%;
}
.grid-col_21 {
	width: 87.5%;
}
.grid-col_22 {
	width: 91.666%;
}
.grid-col_23 {
	width: 95.833%;
}
.grid-col_24 {
	width: 100%;
}
@media screen and (max-width: 999px) { /* tablet */
	.grid-col_md-1 {
		width: 4.166%;
	}
	.grid-col_md-2 {
		width: 8.333%;
	}
	.grid-col_md-3 {
		width: 12.5%;
	}
	.grid-col_md-4 {
		width: 16.666%;
	}
	.grid-col_md-5 {
		width: 20.833%;
	}
	.grid-col_md-6 {
		width: 25%;
	}
	.grid-col_md-7 {
		width: 29.166%;
	}
	.grid-col_md-8 {
		width: 33.333%;
	}
	.grid-col_md-9 {
		width: 37.5%;
	}
	.grid-col_md-10 {
		width: 41.666%;
	}
	.grid-col_md-11 {
		width: 45.833%;
	}
	.grid-col_md-12 {
		width: 50%;
	}
	.grid-col_md-13 {
		width: 54.166%;
	}
	.grid-col_md-14 {
		width: 58.333%;
	}
	.grid-col_md-15 {
		width: 62.5%;
	}
	.grid-col_md-16 {
		width: 66.666%;
	}
	.grid-col_md-17 {
		width: 70.833%;
	}
	.grid-col_md-18 {
		width: 75%;
	}
	.grid-col_md-19 {
		width: 79.166%;
	}
	.grid-col_md-20 {
		width: 83.333%;
	}
	.grid-col_md-21 {
		width: 87.5%;
	}
	.grid-col_md-22 {
		width: 91.666%;
	}
	.grid-col_md-23 {
		width: 95.833%;
	}
	.grid-col_md-24 {
		width: 100%;
	}
}
@media screen and (max-width: 767px) { /* mobile */
	.grid {
		padding: 0 1rem;
	}
	.grid-col_sm-1 {
		width: 4.166%;
	}
	.grid-col_sm-2 {
		width: 8.333%;
	}
	.grid-col_sm-3 {
		width: 12.5%;
	}
	.grid-col_sm-4 {
		width: 16.666%;
	}
	.grid-col_sm-5 {
		width: 20.833%;
	}
	.grid-col_sm-6 {
		width: 25%;
	}
	.grid-col_sm-7 {
		width: 29.166%;
	}
	.grid-col_sm-8 {
		width: 33.333%;
	}
	.grid-col_sm-9 {
		width: 37.5%;
	}
	.grid-col_sm-10 {
		width: 41.666%;
	}
	.grid-col_sm-11 {
		width: 45.833%;
	}
	.grid-col_sm-12 {
		width: 50%;
	}
	.grid-col_sm-13 {
		width: 54.166%;
	}
	.grid-col_sm-14 {
		width: 58.333%;
	}
	.grid-col_sm-15 {
		width: 62.5%;
	}
	.grid-col_sm-16 {
		width: 66.666%;
	}
	.grid-col_sm-17 {
		width: 70.833%;
	}
	.grid-col_sm-18 {
		width: 75%;
	}
	.grid-col_sm-19 {
		width: 79.166%;
	}
	.grid-col_sm-20 {
		width: 83.333%;
	}
	.grid-col_sm-21 {
		width: 87.5%;
	}
	.grid-col_sm-22 {
		width: 91.666%;
	}
	.grid-col_sm-23 {
		width: 95.833%;
	}
	.grid-col_sm-24 {
		width: 100%;
	}
}


/**/
/* helpers */
/**/
.tbl {
	display: table;
	width: 100%;
	height: 100%;
}
.tcl {
	display: table-cell;
	vertical-align: middle;
}
.removed {
	display: none !important;
}
.blocked {
	display: block !important;
}
.inlined {
	display: inline !important;
}
.iblocked {
	display: inline-block !important;
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
@media screen and (max-width: 999px) { /* tablet */
	.removed-md {
		display: none !important;
	}
	.blocked-md {
		display: block !important;
	}
	.inlined-md {
		display: inline !important;
	}
	.iblocked-md {
		display: inline-block !important;
	}
}
@media screen and (max-width: 767px) { /* mobile */
	.removed-sm {
		display: none !important;
	}
	.blocked-sm {
		display: block !important;
	}
	.inlined-sm {
		display: inline !important;
	}
	.iblocked-sm {
		display: inline-block !important;
	}
}
@media screen and (max-width: 359px) { /* mobile s */
	.removed-xs {
		display: none !important;
	}
	.blocked-xs {
		display: block !important;
	}
	.inlined-xs {
		display: inline !important;
	}
	.iblocked-xs {
		display: inline-block !important;
	}
}


/**/
/* text */
/**/
.heading {
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(0,0,0,0.87);
}
.heading_1 {
	margin-left: -0.05em;
	font-size: 45px;
	line-height: 48px;
	font-weight: 300;
}
.heading_2 {
	font-size: 34px;
	line-height: 40px;
}
.heading_3 {
	font-size: 24px;
	line-height: 32px;
}
.heading_4 {
	font-size: 20px;
	line-height: 24px;
}
.heading_5 {
	font-size: 15px;
}
.paragraph {
	font-size: 13px;
	line-height: 20px;
}
.text-link {
	text-decoration: underline;
}
.text-link:hover {
	text-decoration: none;
}
.text-link_red {
	color: #F44336;
}
.text-link_blue {
	color: #03A9F4;
}
.text-link_green {
	color: #4CAF50;
}


/**/
/* forms */
/**/
.input {
	position: relative;
	padding-top: 12px;
}
.input__text {
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid rgba(0,0,0,0.42);
	border-radius: 0;
	box-sizing: border-box;
	font-size: 15px;
	line-height: 19px;
	color: rgba(0,0,0,0.87);
	transition-duration: 0.225s;
	resize: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.input__text:hover {
	border-bottom-color: rgba(0,0,0,0.87);
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.87);
}
.input__text:focus {
	border-bottom-color: #03A9F4;
	box-shadow: 0 1px 0 0 #03A9F4;
}
.input__hint {
	margin-top: 8px;
	font-size: 12px;
	color: rgba(0,0,0,0.54);
}
.input__label {
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
	font-size: 15px;
	line-height: 19px;
	pointer-events: none;
	color: rgba(0,0,0,0.54);
	transition-duration: 0.225s;
}
.input__text:focus + .input__label {
	top: 0px;
	font-size: 12px;
	line-height: 12px;
	color: #03A9F4;
}
.input__text_changed + .input__label {
	top: 0;
	font-size: 12px;
	line-height: 12px;
	color: rgba(0,0,0,0.38);
}
.input_date i,
.input_token i {
	position: absolute;
	top: 12px;
	right: 0;
	width: 24px;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: rgba(0,0,0,0.38);
	transition-duration: 0.225s;
}
.input_select::after {
	content: '';
	position: absolute;
	right: 8px;
	top: 28px;
	border-top: 5px solid rgba(0,0,0,0.42);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	pointer-events: none;
}
.input_select::before {
	content: '';
	position: absolute;
	top: 12px;
	right: 0;
	width: 26px;
	height: 35px;
	background-color: #fff;
	pointer-events: none;
}
.checkbox {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-height: 18px;
	padding-left: 18px;
	cursor: pointer;
	-webkit-user-select: none;
}
.checkbox i {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid #000;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 14px;
	color: #fff;
	opacity: 0.54;
	transition-duration: 0.225s;
}
.checkbox input {
	position: absolute;
	top: 0;
	left: -9999px;
}
.checkbox input:checked + i {
	border-color: #03a9f4;
	background-color: #03a9f4;
	opacity: 1;
}
.button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0 1.5rem;
	border-radius: 2px;
	background-color: #03A9F4;
	font-size: 14px;
	line-height: 36px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	transition-duration: 0.225s;
}
.button:hover {
	background-color: #039BE5;
}


/**/
/* page */
/**/
.page-header {
	position: relative;
	background: #263238;
}
.page-content {
	margin-top: 2rem;
}
.page-footer {
	margin-top: 4rem;
	padding-bottom: 2rem;
	background: #f2f2f2;
}



/*----------------------------------------------*/
/*                    HEADER                    */
/*----------------------------------------------*/

/**/
/* logo */
/**/


/**/
/* search */
/**/
.search {
	position: absolute;
	top: 0;
	left: 50%;
	width: 36rem;
	margin-left: -18rem;
	padding-left: 2rem;
	box-sizing: border-box;
	pointer-events: none;
	opacity: 0;
	transition-duration: 0.225s;
}
.search__icon {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 3rem;
	text-align: center;
	color: #fff;
}
.search__input {
	width: 100%;
	box-sizing: border-box;
	font-size: 1.125rem;
	line-height: 3rem;
	font-weight: 300;
	color: #fff;
}
.search_active {
	z-index: 1;
	pointer-events: auto;
	opacity: 1;
}
.search_active ~ .main-nav .main-nav__item {
	pointer-events: none;
	opacity: 0;
}
.search_active ~ .main-nav .main-nav__icon::before {
	content: 'close';
}
.search_active ~ .main-nav .main-nav__item:last-child,
.search_active ~ .main-nav .main-nav__item:first-child {
	pointer-events: auto;
	opacity: 1;
}
@media screen and (max-width: 999px) { /* tablet */
	.search {
		width: 28rem;
		margin-left: -14rem;
	}
}
@media screen and (max-width: 767px) { /* mobile */
	.search {
		left: 1rem;
		right: 4.5rem;
		width: auto;
		margin: 0;
		background: #263238;
	}
}


/**/
/* main nav */
/**/
.main-nav {
	position: relative;
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 0;
	text-align: justify;
}
.main-nav::after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 100%;
	font-size: 0;
	line-height: 0;
}
.main-nav__item {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.875rem;
	line-height: 3rem;
	transition-duration: 0.225s;
}
.main-nav__link {
	display: block;
	color: rgba(255,255,255,0.7);
	transition-duration: 0.225s;
}
.main-nav__link:hover,
.main-nav__link_active {
	color: #fff;
}
.main-nav__link i {
	vertical-align: top;
	line-height: 3rem;
}
.main-nav__link img {
	vertical-align: top;
	margin: 12px 0;
}
.main-nav__icon::before {
	content: 'search';
}
@media screen and (max-width: 767px) { /* mobile */
	.main-nav {
		margin-right: 32px;
	}
	.main-nav__item {
		display: none;
	}
	.main-nav__item:last-child,
	.main-nav__item:first-child {
		display: inline-block;
	}
}


/**/
/* burger */
/**/
.burger {
	position: absolute;
	top: 0;
	right: 1rem;
	display: none;
	line-height: 3rem;
	color: rgba(255,255,255,0.7);
}
@media screen and (max-width: 767px) { /* mobile */
	.burger {
		display: block;
	}
}


/**/
/* mobile nav */
/**/
.mobile-nav {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	padding: 0.5rem 0;
	background: #263238;
	border-top: 1px solid rgba(255,255,255,0.12);
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	pointer-events: none;
	opacity: 0;
	transition-duration: 0.225s;
}
.mobile-nav__item {
	font-size: 1rem;
	line-height: 2.25rem;
	transition-duration: 0.225s;
}
.mobile-nav__link {
	display: block;
	padding: 0 1rem;
	color: rgba(255,255,255,0.7);
	transition-duration: 0.225s;
}
.mobile-nav__link:hover,
.mobile-nav__link_active {
	color: #fff;
}
.mobile-nav_active {
	z-index: 1;
	pointer-events: auto;
	opacity: 1;
}



/*----------------------------------------------*/
/*                    CONTENT                   */
/*----------------------------------------------*/

/**/
/* post */
/**/
.post {
	margin-top: 2rem;
}
.post__meta {
	font-size: 0;
}
.post__meta i {
	vertical-align: top;
	margin-right: 0.5rem;
	font-size: 1.25rem;
}
.post__meta li {
	display: inline-block;
	vertical-align: top;
	margin: 1rem 1rem 0 0;
	font-size: 0.8125rem;
	line-height: 1.25rem;
}
.post__cover {
	display: block;
	max-width: 100%;
	margin-top: 1rem;
}
.post__content {
	margin-top: 1rem;
}
.post__content p {
	margin-top: 1rem;
	font-size: 0.875rem;
	line-height: 1.72;
}
.post__content p:first-child {
	margin-top: 0;
}
.post__content h2,
.post__content h3,
.post__content h4 {
	margin-top: 2rem;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(0,0,0,0.87);
}
.post__content h2 {
	font-size: 34px;
	line-height: 40px;
}
.post__content h3 {
	font-size: 24px;
	line-height: 32px;
}
.post__content h4 {
	font-size: 20px;
	line-height: 24px;
}
.post__content blockquote {
	margin-top: 2rem;
	padding: 0.25rem 0 0.25rem 2rem;
	border-left: 2px solid #03A9F4;
}
.post__content blockquote p {
	font-style: italic;
	font-size: 1.25rem;
}
@media screen and (max-width: 999px) { /* tablet */
	.post__cover {
		height: auto;
	}
}


/**/
/* comment */
/**/
.comment {
	margin-top: 2rem;
	padding: 1.5rem;
	background-color: #f9f9f9;
}
.comment .input,
.comment .button {
	margin-top: 1.5rem;
}


/**/
/* recent posts */
/**/
.recent-posts {
	margin-top: 2rem;
	padding: 1.5rem;
	background-color: #f9f9f9;
}
.recent-posts__item {
	margin-top: 1.25rem;
	padding-top: 1.25rem;
	border-top: 1px solid rgba(0,0,0,0.12);
}
.recent-posts__heading {
	font-size: 18px;
	line-height: 24px;
}
.recent-posts__heading .text-link {
	text-decoration: none;
	transition-duration: 0.225s;
}
.recent-posts__heading .text-link:hover {
	color: rgba(0,0,0,0.87);
}
.recent-posts__date {
	margin-top: 0.25rem;
	font-size: 0.8125rem;
	line-height: 1.25rem;
}



/*----------------------------------------------*/
/*                    FOOTER                    */
/*----------------------------------------------*/

/**/
/* secondary nav */
/**/
.secondary-nav {
}
.secondary-nav .grid-col {
	width: 20%;
	font-size: 0.8125rem;
	line-height: 1.25rem;
}
.secondary-nav__heading {
	margin-top: 2rem;
	margin-bottom: 0.75rem;
	color: rgba(0,0,0,0.87);
}
.secondary-nav__item {
	margin-top: 0.5rem;
}
@media screen and (max-width: 767px) { /* mobile */
	.secondary-nav .grid-col {
		width: 50%;
	}
}


/**/
/* copyrights */
/**/
.copyrights {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid rgba(0,0,0,0.12);
	font-size: 0.6875rem;
	line-height: 1.25rem;
	text-align: center;
	color: rgba(0,0,0,0.38);
}
.copyrights__link {
	color: rgba(0,0,0,0.54);
}


